
@font-face {
  font-family: 'glytus';
  src: url('../fonts/SFUGlytus.eot#iefix') format('embedded-opentype'),  url('../fonts/SFUGlytus.woff') format('woff'), url('../fonts/SFUGlytus.ttf')  format('truetype'), url('../fonts/SFUGlytus.svg#SFUGlytus') format('svg');
  font-weight: normal;
  font-style: normal;
}
